@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: source sans pro, sans-serif;
}

h1 {
  font-size: 3.5em;
  color: #25a;
  font-weight: 500;
}

h2 {
  margin-top: 0;
  font-size: 2em;
  font-weight: 300;
}

h4 {
  margin-top: 2.5em;
  font-size: 2em;
  font-weight: 300;
}

p {
  font-size: 1em;
  font-weight: 300;
}

.display-picture {
  margin-top: 1.5em;
}

.logo {
  margin-top: 1.2em;
  height: 3em;
}
